@mixin flex_center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin remove_a_tag(){
  color: inherit;
  text-decoration: none;
}

.footer {
  padding: 2rem 2rem 2rem 2rem;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  height: 180px;
  display: flex;

  .left-footer {
    width: 33%;
    height: 100%;
    > img {
      width: auto ;
      height: 100%;
    }
  }

  .mid-footer {
    width: 33%;
    height: 100%;
    @include flex_center();

    .mentions-legales {
      > a {
        @include remove_a_tag();
        color: white;
        font-family: Heebo;
        font-weight: 500;
      }
    }
  }

  .right-footer {
    width: 33%;
    height: 100%;
    @include flex_center;
    flex-direction: column;

    .btn-devis{
      margin-bottom: 15px;
      color: white;
      background-color: #ef7d00;
      border-radius: 8px;
      padding: 10px;
      > a {
        color: inherit;
        text-decoration: inherit;
      }

    }

    .sponsors {
      color: white;
      > ul{
        position: relative;
        list-style: none;
        > li {
          position: relative;
          display: inline-block;
          font-size: x-large;
          margin-left: 10px;
          > a {
            color: inherit;
            text-decoration: inherit;
          }
        }
      }
    }
  }
}

